* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Signika", sans-serif;
}

header {
  max-width: 1440px;
  margin: 0 auto;
}

.flex-container {
  margin: 0 auto;
  padding: 48px 100px;
}

.flex-container .flex-nav {
  display: flex;
  justify-content: space-between;
}

.flex-container .flex-nav .flex-list {
  display: flex;
  gap: 54px;
  font-size: 17px;
  font-weight: 500;
}

.flex-container a {
  color: #4f555a;
  text-decoration: none;
  position: relative;
}
.flex-container a::after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: #4461f2;
  border-radius: 5px;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.5s;
}
.flex-container a:hover {
  color: #4461f2;
}
.flex-container a:hover::after {
  transform: scaleX(1);
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  margin-top: 100px;
  position: relative;
}

.container .text {
  display: grid;
  gap: 75px;
}

.container .text .title {
  font-size: 44px;
  font-weight: 700;
}
.container .text .description {
  font-size: 23px;
  width: 300px;
}

.container .text .description a {
  color: #4461f2;
  text-decoration: none;
}
.avatar img {
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 0 36px;
}
.form-container {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 4px;
  transition: 0.3s ease;
}
.form-container .form form {
  display: grid;
  grid-template-columns: 1;
  gap: 16px;
}
.form-container.active .form.login {
  transition: 0.3s ease-in-out;
  transform: translateX(-400px);
  display: none;
}
.form-container.active .form.register {
  transition: 0.3s ease-in-out;
  display: block;
}

.form-container .form.register {
  transition: 0.3s ease-in-out;
  display: none;
}

.form-container .form input {
  width: 400px;
  outline: none;
  padding: 16px 20px;
  border: none;
  border-radius: 10px;
  background-color: #eaf0f7;
  font-size: 18px;
}
.form-container .form input::placeholder {
  font-size: 18px;
  letter-spacing: 4px;
  font-weight: 600;
  color: #4f555a/0.1;
}

.form-container .form input:focus {
  border: 1px solid #4461f2;
}

.form-container .form .mail-icon,
.form-container .form .eye-icon,
.form-container .form .eyeon-icon,
.form-container .form .person-icon {
  color: #4461f2;
  font-size: 22px;
}

.form-container .form.login .mail-icon {
  position: absolute;
  top: 20px;
  right: 10px;
  cursor: pointer;
}
.form-container .form.login .eye-icon {
  position: absolute;
  top: 90px;
  right: 10px;
  cursor: pointer;
}

.form-container .form.login .eyeon-icon {
  position: absolute;
  top: 90px;
  right: 10px;
  display: none;
}
.form-container .form form .person-icon {
  position: absolute;
  top: 20px;
  right: 10px;
}
.form-container .form form .mail-icon {
  position: absolute;
  top: 90px;
  right: 10px;
}
.form-container .form form .eye-icon {
  position: absolute;
  top: 160px;
  right: 10px;
}
.form-container .form form .eyeon-icon {
  position: absolute;
  top: 160px;
  right: 10px;
  display: none;
}

.form-container .form .terms {
  font-size: 12px;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 400px;
}

.form-container .form .terms input {
  margin-right: -180px;
  margin-left: -190px;
}

.form-container .form span {
  font-size: 14px;
  font-size: 500;
  color: #c7c7c7;
  text-align: end;
}

.form-container .form .btn {
  background-color: #4461f2;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  font-size: 19px;
  font-weight: 700;
  border: none;
  padding: 16px 0;
  cursor: pointer;
  margin-top: 32px;
}

.form-container .form .another-sing {
  display: grid;
  justify-content: center;
  margin-top: 38px;
}

.form-container .form .another-sing .flex-line {
  display: flex;
  gap: 20px;
  align-items: center;
}
.form-container .form .another-sing .flex-line .line {
  content: "";
  width: 80px;
  height: 1px;
  background-color: #c7c7c7;
  display: flex;
}

.form-container .form .another-sing .icon-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.form-container .form .another-sing .icon-flex .icon {
  border: 1px solid #c7c7c7;
  border-radius: 8px;
  transition: 0.2s ease-in;
}
.form-container .form .another-sing .icon-flex img {
  padding: 8px 34px;
}

.form-container .form .another-sing .icon-flex .icon:hover {
  scale: 1.1;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
